In [53]:
import data_structure as ds
from data_structure import Gender
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from scipy.stats import mannwhitneyu

In [54]:
df = ds.get_model('Pilot')

df_male, df_female = ds.get_gender(df)

df_male.value_counts('deserved_salary'), df_female.value_counts('deserved_salary')

(deserved_salary
 110.0    50
 100.0    18
 95.0     15
 105.0    14
 115.0     6
 120.0     2
 Name: count, dtype: int64,
 deserved_salary
 100.0    34
 110.0    23
 95.0     20
 105.0    16
 115.0     2
 Name: count, dtype: int64)

In [70]:
df.value_counts('deserved_salary').sort_index(), df.value_counts('current_salary').sort_index()

(deserved_salary
 95.0     35
 100.0    52
 105.0    30
 110.0    73
 115.0     8
 120.0     2
 Name: count, dtype: int64,
 current_salary
 80.0      2
 85.0    165
 90.0      1
 92.5      1
 95.0     31
 Name: count, dtype: int64)

In [ ]:
pl, pm, ph = 73/len(df), 52/len(df), (30+35+8+2)/len(df)

In [66]:
p = 0.5

2 * p*(1-p) * (.84 + 1.96)**2 / .1**2


# 2*np.arcsin(np.sqrt(p)) - 2*np.arcsin(np.sqrt(1-p))

391.9999999999999