In [6]:
import data_structure as ds
from data_structure import Gender

In [7]:
NAME = 'Peter'

entry = ds.Entry(
    name='Morten',
    gender = Gender.Male,
    current_salary=1000,
    deserved_salary=2000,
    round_ = 1
)


ds.commit(NAME, entry)

In [8]:
## Se din database
df = ds.get_db(NAME)
df.head()

     name       gender  current_salary  deserved_salary  round_
0   Peter  Gender.Male            1000             2000       1
0  Morten  Gender.Male            1000             2000       1