In [6]:
import data_structure as ds
from data_structure import Gender

In [7]:
NAME = 'DIT NAVN HER' ## Insert your name

entry = ds.Entry(
    name='John Doe',
    gender = Gender.Male,
    current_salary=1000,
    deserved_salary=2000,
    round_ = 1
)

## Commit the entry to your database
ds.commit(NAME, entry)

## Display the tail of the database
ds.get_db(NAME).tail()

In [ ]:
## Til Robin

NAME = 'Robin'

name_ = 'John Doe' ## Navn på observation
currents = [] ## Indsæt current salaries
deserveds = [] ## Indsæt deserved salaries
ds.commit_multiple(NAME, name_, currents, deserveds, round_=1)